common --lockfile_mode=error
common --registry=https://bcr.bazel.build
common --enable_platform_specific_config

build --incompatible_strict_action_env
build --sandbox_default_allow_network=false
build --nostamp
build --symlink_prefix=/
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1

test --test_output=errors

build:native --use_target_platform_for_tests

common:refresh --lockfile_mode=update

build:remote --spawn_strategy=remote
build:remote --noremote_local_fallback
build:remote --remote_download_outputs=minimal

try-import %workspace%/user.bazelrc
