common --lockfile_mode=error
common --registry=https://bcr.bazel.build
common --enable_platform_specific_config
common:windows --host_platform=//platform:windows

build --host_compilation_mode=fastbuild
build --incompatible_strict_action_env
build --sandbox_default_allow_network=false
build --nostamp
build --symlink_prefix=/
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
build --disk_cache=~/.cache/photonic/bazel
build --experimental_disk_cache_gc_max_size=20G
build --experimental_disk_cache_gc_max_age=14d
build --guard_against_concurrent_changes
build --@rules_rust//rust/settings:rustfmt.toml=//:rustfmt.toml

build:release --compilation_mode=opt

common:ci --config=release
common:ci --host_platform=//platform:x86_64-unknown-linux-gnu
common:ci --platforms=//platform:x86_64-unknown-linux-gnu

test --test_output=errors
test:continuous --test_tag_filters=-memory
test:continuous --local_test_jobs=1

common:refresh --lockfile_mode=update

build:remote --spawn_strategy=remote
build:remote --noremote_local_fallback
build:remote --remote_download_outputs=minimal

build --aspects=//toolchain:check.bzl%check
build --output_groups=+check
run --output_groups=-check

try-import %workspace%/user.bazelrc
